@media (min-width: 1000px) {
    .principles {
        width: 200px;
    }

    main {
        display: flex;
        justify-content: space-around;
    }

    #principle1 {
        margin-right: 30px;
        width: 280px;
    }

    #principle2 {
        margin-right: 30px;
        width: 280px;
    }

    #principle3 {
        width: 280px;
    }
}