@media only screen and (min-width: 1024px) {
    body {
        height: 100%;
    }

    main {
        align-items: center;
        height: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        vertical-align: middle;
    }
    
    form {
        grid-column: 1/2;
        grid-row: 1/2;
        margin: 33px auto 33px auto;
    }

    #contactInfo {
        grid-column: 2/3;
        grid-row: 1/2;
    }
}