/* Buttons */
#menu {
    width: 150px;
    text-align: center;
    margin: 5px auto 5px auto;
    padding: 10px 0 10px 0;
}

#menu button {
    padding: 10px;
    width: 70px;
    text-align: center;
    font-size: 16pt;
}

#grid {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-right: -3px;
    padding-right: 15px;
}

#list {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: -3.5px;
}

main {
    margin-bottom: 20px;
}

article a {
    text-decoration: none;
    color: black;
}

/* Grid Style */
article.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    grid-gap: 20px;
}

article.grid section {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 0 10px black;
    height: 340px;
    position: relative;
    border-radius: 5px;
}

article.grid img {
    max-width: 90%;
    max-height: 150px;
    min-height: 50px;
    margin-top: 20px;
}

article.grid h2 {
    font-size: 14pt;
}

article.grid h3 {
    font-size: 12pt;
}

article.grid h3:first-of-type {
    margin-top: 5px;
}

article.grid p {
    position: absolute;
    bottom: 0;
    left: calc(50% - 55px);
}

/* List Style */
article.list section {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
    box-shadow: 0 0 10px black;
    height: 200px;
    border-radius: 5px;
    display: grid;
    grid-gap: 10px;
}

article.list img {
    max-width: 100px;
    vertical-align: middle;
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: center;
}

article.list div {
    grid-column: 2/3;
    grid-row: 1/2;
    height: fit-content;
    align-self: center;
}

article.list h2 {
    font-size: 11pt;
    padding-left: 0;
}

article.list h3 {
    font-size: 10pt;
}

article.list p {
    font-size: 9pt;
}
