/* Main */
main div {
    background: purple;
    color: white;
    border: black 1px solid;
    margin-top: 10px;
    height: 275px;
    text-align: center;
}

#call {
    height: auto;
    background-color: transparent;
    border: none;
    position: relative;
}

#call img {
    width: calc(100%);
}

#call h3 {
    position: absolute;
    top: 0px;
    left: 10px;
    font-size: x-large;
    color: black;
    background: rgba(255, 255, 255, 0.7);
    padding: 4px 5px 4px 5px;
    border-radius: 7px;
}

#call a {
    position: absolute;
    bottom: 30px;
    right: 20px;
    background: purple;
    padding: 8px;
    border-radius: 10px;
    color: white;
    border: #0B0B45 2px solid;
    text-decoration: none;
}

#event img {
    width: 150px;
}

#weather {
    text-align: center;
    position: relative;
}

#weather div {
    border: none;
    height: fit-content;
    margin: 0 !important;
}

#weather #temp {
    padding-bottom: 30px;
}

#weather h4 {
    font-size: 14pt;
}

#weather #wind {
    border-top: 2px solid black;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#news {
    height: 200px;
}

#news p {
    margin-left: 10px;
    margin-right: 10px;
}

#join {
    display: none;
}

#join a {
    text-decoration: none;
}

#spotlights div img {
    height: 110px;
}

#spotlights div .contact {
    width: 100%;
    border-top: black solid 2px;
    padding-top: 5px;
}

#spotlight1, #spotlight2 {
    margin-left: 20px;
    margin-right: 20px;
}

#spotlight3 {
    display: none;
}

#spotlights {
    background: white;
    border: none;
}

footer {
    margin-top: 300px;
}