main h1 {
    margin: 15px auto 0 auto;
    width: fit-content;
}

main h3 {
    text-align: center;
}

main ul {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

main img {
    width: 100%;
}

main div {
    margin: 0 auto 20px auto;
}