body {
    height: 100%;
}

main {
    text-align: center;
    vertical-align: middle;
    align-items: center;
    height: auto;
}

main h2 {
    margin-top: 12.4%;
}

main p {
    margin-bottom: 12.4%;
}